body {
    color:black;
    background-color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
     border-bottom: solid 2px black;
     text-align: center;
     font-size: 32px;
     padding: 20px;
     background-color: burlywood;
}

section {
    background-color: indianred;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 20px;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}